.gallery-page {
    display: none;
  }
  
  .gallery-page.active {
    display: flex;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .pagination a.active {
    background-color: #5FA599;
    color: white;
    border-color: #5FA599;
  }
  
  .pagination a:hover {
    background-color: #ddd;
    color: #333;
  }
  


  @media (max-width:480px) {

    .pagination{
      align-items: center;
    }
    .pagination a {
        padding: 8px 12px; /* Réduit la taille des boutons sur les petits écrans */
        margin: 3px 2px; /* Réduit les marges pour mieux adapter l'espace */
    }
}

@media (max-width:768px) {

  .pagination{
    align-items: center;
  }
  .pagination a {
      padding: 8px 12px; /* Réduit la taille des boutons sur les petits écrans */
      margin: 3px 2px; /* Réduit les marges pour mieux adapter l'espace */
  }
}